<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script>
        window.onload=function(){
        window.print();
        }
    </script>
    <title>DNL DES AVIS DES COLIS EN DOUANE</title>
</head>
<body>
<div class="text-center p-3 mb-4">
    <h6 class="fw-bold mb-2">Agence Rapid Post Sfax ElBousten</h6>
    <h4 class="m-0" th:text="'DNL des avis des colis en douane : ' + ${date}"></h4>
    <h4 class="m-0" th:text="'Agent :'+${agent}"></h4>
    <h6 th:text="'Total :'+${list.size()}"></h6>
</div>

<table style="border:solid 1px" class="table table-bordered ">
    <thead>
    <th>Numéro</th>
    <th>Bloc</th>
    <th>Destinataire</th>
    <th>Décharge</th>
    </thead>
    <tbody>
    <tr style="height:100px" th:each="col : ${list}">
        <td style="vertical-align: middle;" th:text="${col.numColis}"></td>
        <td style="vertical-align: middle;" th:text="${col.bloc}"></td>
        <td style="vertical-align: middle;" th:text="${col.nom}"></td>
        <td style="vertical-align: middle;"></td>
    </tr>

    </tbody>
</table>
</body>
</html>